/* CSS declarations go here */
body {
  background-color: black;
}

.path_defaults {
  fill: black;
  fill-opacity: 0;
}

.bus_routes {
  stroke: orange;
  stroke-width: 0.1px;
}

.rivers {
  stroke: steelblue;
  stroke-width: 0.4px;
}

.sewer_main {
  stroke: brown;
  stroke-width: 0.2px;
}

.sewer_lateral {
  stroke: yellow;
  stroke-width: 0.2px;
}

.sewer_offshore {
  stroke: red;
  stroke-width: 0.3px;
}

.streets {
  stroke: white;
  stroke-width: 0.4px;
}

.legend_rect {
  stroke: white;
  stroke-width: 1px;
}

.map circle {
  fill: white;
}